// Define variables for your color scheme

// Color scheme
$dark-blue: #1C3893;
$hover: #219FAD;
$background: #F4F7FD;
$black: #15191C;
$dark-grey: #525252;
$light-grey: #E8ECED;
$background-nav: linear-gradient(180deg, #1C3893 0%, #2B55E0 100%);

// Action colors
$green-blue: #219FAD;
$yellow: #FFB946;
$red: #F42A2B;
$green: #46AD21;
$orange: #E67E22;
