<% users.each do |user| %>
  <h3><%= link_to user.fullname, user_path([@company, @user]), class: 'btn btn-primary' %></h3>

  <% user.skills.each do |skill| %>
      <%= skill %>
  <% end %>
<% end %>
