<div class="divTable blueTable">
  <div class="divTableHeading">
    <div class="divTableRow d-flex">
      <div class="divTableHead">bouton</div>
      <div class="divTableHead">Name</div>
      <div class="divTableHead">Collaborations</div>
      <div class="divTableHead">Responses</div>
      <div class="divTableHead">Projects</div>
      <div class="divTableHead">Projects Lead</div>
      <div class="divTableHead">Last Connection</div>
    </div>
  </div>
  <div class="divTableBody">
    <%# @users.each do |user| %>
      <div class="divTableRow d-flex">
        <div class="divTableCell btn btn-rounded">+</div>
        <div class="divTableCell">
          <div> avatar</div>
           <div class="mini-card">
            <p>name</p>
            <p>description fonction</p>
            </div>
        </div>
        <div class="divTableCell">
          <div class="stat-label">
            <div class="stat-number"><%= @user.collaborations.count%></div>
            <p>Collaborations</p>
          </div>
        </div>
        <div class="divTableCell">Response</div>
        <div class="divTableCell">
          <div class="stat-label">
            <div class="stat-number">40</div>
          </div>
        </div>
        <div class="divTableCell">
          <div class="stat-label">
            <div class="stat-number">18</div>
          </div>
        </div>
        <div class="divTableCell">
          <div class="last-connex">13:27</div>
        </div>
      </div>
    # <%# end %>
  </div>
</div>

<div class="blueTable outerTableFooter">
<div class="tableFootStyle">
<div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
</div>
</div>

<table class="blueTable">
<thead>
<tr>
<th>bouton</th>
<th>Name</th>
<th>Collaborations</th>
<th>Responses</th>
<th>Projects</th>
<th>Projects Lead</th>
<th>Last Connection</th>
</tr>
</thead>
<tfoot>
<tr>
<td colspan="7">
<div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
</td>
</tr>
</tfoot>
<tbody>
  <% @users.each do |user| %>
<tr>
<td><div class="divTableCell btn btn-rounded">+</div></td>
<td><div class="divTableCell">
          <div> avatar</div>
           <div class="mini-card">
            <p>name</p>
            <p>description fonction</p>
            </div>
        </div></td>
<td><div class="divTableCell">
          <div class="stat-label">
            <div class="stat-number"><%= @user.collaborations.count%></div>
            <p>Collaborations</p>
          </div></td>
<td><div class="divTableCell">Response</div></td>
<td><div class="divTableCell">
          <div class="stat-label">
            <div class="stat-number">40</div>
          </div></td>
<td><div class="divTableCell">
          <div class="stat-label">
            <div class="stat-number">18</div>
          </div></td>
<td><div class="divTableCell">
          <div class="last-connex">13:27</div>
        </div></td>
</tr>
<%end%>
</tbody>
</table>

