<h1> Reussi</h1>

<%= simple_form_for users_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a Alt!"
        %>

        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>

  <div class="skills">
    <%= render 'user', users: @users %>
  </div>
