<h1> Reussi</h1>

<% @users.each do |user| %>
  <%= link_to user.email, user_path([@company, @user]), class: 'btn btn-primary' %>
<% end %>


<!--  create a form to keep the full name of the user ofr research gate -->
<!--  link the data with a button -->
<!-- when button is "clicked" , stock the data in a variable and action (ajax) -->
    <!-- build a route to scrapp method in new.html.erb -->
    <!-- put the scrapping method in the user_controller.rb -->
    <!-- bring the data and set the scrap method -->
<!-- bring back data from scrapping to the forms (JS) -->
