<!--  Simple form page projet -->
<%= simple_form_for([ project, post ], remote: true) do |form| %>
<div class="floating-card-project">
  <%= form.input :content,:label => "Your message" ,as: :text %>
  <%= form.submit "Send", class:"btn btn-primary"%>
  <%= form.input :file%>
<% form.input :file_cache, as: :hidden%>
<% end %>
</div>
