<div id="header-container">
  <div class="search-bar">
    <!-- place the search here --> search
  </div>
  <div class="header-menu">
    <div class="notification">
      <i class="fas fa-bell"></i>
    </div>
    <div class="avatar-menu">
      <div class="avatar-s">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-s", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <!-- id: "landing-headerDropdown" A placer après la class -->
      </div>
      <div class="avatar-dropdown">
        <i class="fas fa-caret-down"></i>
      </div>
    </div>
  </div>
</div>

