<div id="header-container">
  <div class="search-bar">
    <!-- place the search here --> search
  </div>
  <div class="header-menu">
    <div class="notification">
      notif
    </div>
    <div class="avatar-menu">
      <div class="avatar-s">
        photo
      </div>
      <div class="avatar-dropdown">
        v
      </div>
    </div>
  </div>
</div>

