<div class="d-flex landing-header-lewagon landing-header-expand-sm landing-header-light landing-header-lewagon">

  <div class="logo-placer d-flex h-100 align-items-center mx-4">
    LOGO
  </div>
  <div class="landing-header-menu d-flex justify-content-end h-100 align-items-center bold-content">
    <div class="contact-link mx-4">
      feellows website
    </div>
    <div class="website-link mx-5">
      Contact-us
    </div>

    <% if current_user != nil %>
       <%= link_to user_path(current_user) do %>
    <div>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-s" %>
    </div>
    <% end %>
     <% end %>
  </div>
</div>
