
<div class="searchContainer">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="flex-item">
    <i class="fa fa-search searchIcon"></i>
  </div >
  <div  class="flex-item">
     <input class="searchBox" type="search" name="search" placeholder="Search...">
  </div>
  <div class="flex-item">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filtres
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
<% end %>

