<%= simple_form_for :search, url: root_path, method: :get do |f| %>
<div class="d-flex justify-content-between">
    <input class="form-control string required" type="text" name="search[query]" placeholder="Search" id="search_query" />
      <i id="icon"class="fas fa-search"></i>
      <button class="search-button">Filtres</button>
</div>
<% end %>
