<div id="side-bar">
  <div class="side-bar-container">
    <div class="menu-top">
      <div class="item-menu">
        <i class="menu-icon fas fa-atom"></i>
        <div class="menu-title">Dashboard</div>
      </div>
      <div class="item-menu">
        <i class="menu-icon fas fa-id-card-alt"></i>
        <div class="menu-title">Profile</div>
      </div>
      <div class="item-menu">
        <i class="menu-icon fas fa-project-diagram"></i>
        <div class="menu-title">Projects</div>
      </div>
      <div class="item-menu">
        <i class="menu-icon fas fa-dna"></i>
        <div class="menu-title">Expertises</div>
      </div>
    </div>
    <div class="menu-down">
      <div class="item-menu">
        <i class="menu-icon fas fa-sliders-h"></i>
        <div class="menu-title">Settings</div>
      </div>
    </div>
  </div>
</div>
