<div class="side-bar">
  <div class="side-bar-container">
    <div class="menu-top">
      <div class="item-menu">
        <i class="fas fa-atom"></i>
        Dashboard
      </div>
      <div class="item-menu">
        <i class="fas fa-id-card-alt"></i>
        Profile
      </div>
      <div class="item-menu">
        <i class="fas fa-project-diagram"></i>
        Projects
      </div>
      <div class="item-menu">
        <i class="fas fa-dna"></i>
        Expertises
      </div>
    </div>
    <div class="menu-down">
      <div class="item-menu">
        <i class="fas fa-sliders-h"></i>
        Settings
      </div>
    </div>
  </div>
</div>
