<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<<<<<<< HEAD
<div class="add-button">Add Button</div>
<div class="button-rounded">+</div>
<div class="btn btn-primary">Primary</div>
<div class="btn btn-secondary">Secondary</div>
=======

<%= link_to 'List of all Users', users_path(@company), class: 'btn btn-primary'%>

<%= link_to 'List of all Projects', projects_path, class: 'btn btn-primary'%>


<!-- ce lien sera valide graçe a la seed -->
<%= link_to 'Company Dashboard', company_path(@company), class: 'btn btn-primary'%>


>>>>>>> master
