<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- <div class="floating-card">test floating-cards </div>
<p>jj</p> -->

<!-- <div class="flat-card">test flat-cards </div>
<p>jj</p> -->

<!-- <div class="fichier-projet">test fichier-projet </div>
<p>kk</p> -->

<!-- <div class="selected-card">test selected-card </div>
<p>kk</p> -->

<!-- <div class="avatar-s">s </div> -->


<h1>H1 Ca marche</h1>

<h2>H2 ici il y a</h2>

<h3>h3 un essai</h3>

<h4>h4 de typo</h4>

<p>p kekekek kekeek</p>


<div class="bold-p">test bold-p </div>

<div class="light-p">test light-p </div>

<div class="description">test description </div>

<div class="light-description">test light-description </div>
