<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<<<<<<< HEAD
<!-- <div class="floating-card">test floating-cards </div>
 --><p>jj</p>

<div class="flat-card">test flat-cards </div>
<p>jj</p>

<!-- <div class="fichier-projet">test fichier-projet </div>
<p>kk</p> -->
=======

<%= link_to 'List of all Users', users_path(@company), class: 'btn btn-primary'%>

<%= link_to 'List of all Projects', projects_path, class: 'btn btn-primary'%>

<%= link_to 'Company Dashboard', company_path(@company), class: 'btn btn-primary'%>


>>>>>>> origin
