<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- <div class="floating-card">test floating-cards </div>
 --><p>jj</p>

<div class="flat-card">test flat-cards </div>
<p>jj</p>

<!-- <div class="fichier-projet">test fichier-projet </div>
<p>kk</p> -->
