<h1> Reussi</h1>

<%= link_to 'Edit Project', edit_project_path([@company, @user, @project]), class: 'btn btn-primary'%>

<%= link_to 'List of Collaborators', project_collaborations_path([@project, @collaborations]), class: 'btn btn-primary'%>

<%= link_to 'Add Collaborators', project_collaborations_path([@project, @collaborations]), method: :create, class: 'btn btn-primary'%>
