<h1> Reussi</h1>

<!-- ce lien sera valide graçe a la seed -->
<%= link_to 'Edit Project', edit_project_path([@company, @user, @project]), class: 'btn btn-primary'%>

<!-- ce lien sera valide graçe a la seed -->
<%= link_to 'List of Collaborators', project_collaborations_path([@project, @collaborations]), class: 'btn btn-primary'%>

<!-- ce lien sera valide graçe a la seed -->
<%= link_to 'Add Collaborators', project_collaborations_path([@project, @collaborations]), method: :create, class: 'btn btn-primary'%>
