<h1> Reussi</h1>

<%= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-primary'%>

<%= link_to 'List of Collaborators', project_collaborations_path(@project), class: 'btn btn-primary'%>
