.avatar-large {
  width: 80px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}

.avatar-m {
  width: 40px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}

.avatar-s {
  width: 32px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}
