.avatar-large {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}

.avatar-m {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}

.avatar-s {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}


.move{
  position: absolute;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  top: 73px;
  left:17px;
}



.mini-project{
  position: absolute;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  top: 0px;
  left: -20px;
}


.file {
  height: 40px;
}
