// Bootstrap btn are defined in config/_bootstrap.scss

.btn-rounded {
  width: 128px;
  height: 32px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: white;
}

.btn-circle {
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.43);
  font-size: 24px;
  line-height: 21px;
  border-radius: 25px
}

.link-label {
  text-transform: uppercase;
  color: $green-blue;
  font-size: 12px;
  font-weight: bold;
}
