
.flat-card{ /*verifier car box-shadow semble invisible*/
  background: #FFFFFF;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
}

.flat-card h3{
    margin-top: 14px;
  }

.floating-card{
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 36px;
  &:hover {
    background-color: $background;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  }
}

.selected-card{
  background: #F4FEFF;
  border: 1px solid #1C3893;
  box-sizing: border-box;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}


.fichier-projet{
  width: 120px;
  height: 120px;
  border-radius: 4px;
  background: #C4C4C4;
}

.project-mini-card {
  position: relative;
  width: 30%;
  padding: 8px 12px;
  height: 114px;
  border-radius: 5px;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.02);
  background: $primary;
  color: white;
  margin-bottom: 16px;
  &:hover {
    background: $dark-blue;
  }
  & a {
    color: white;
    text-decoration: none;
  }
}

.arrow {
  position: absolute;
  bottom: 6px;
  right: 14px;
}

.dashboard-stat-card {
  width: 90%;
  padding: 32px 26px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  text-align: center;
  &:hover {
    background: $dark-blue;
    color: white;
    & .stat-number {
      color: white;
    }
  }
}

.dashboard-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  padding: 3%;
  margin-bottom: 36px;
}

.expertise-mini-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid $light-grey;
}


.floating-card-project{
  border-radius: 16px;
  padding: 16px;
  margin-top: 13px;
  margin-bottom: 36px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
   &:hover {
    background-color: $background;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
}

.flat-card-project{
  background: #FFFFFF;
  // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.02);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.flat-card-mini-project{
  background: #FFFFFF;
}

#border-project{
  background: #FFFFFF;
  border-left: 1px solid;
  border-color:#525252;
}

