
primary: #219FAD; turquoise
alert: #FFB946; yellow
danger: #F42A2B; rouge
succes: #46AD21; vert


black: #15191C;
table gray: #525252; gris sombre
border gray: #E8ECED;


table dark blue: #1C3893; bleu navy (navbar, sidebar)
hover: rgba(33, 159, 173, 0.1); bleu très pâle
background: #F4F7FD;
white: #FFFFFF;
