
.header-container {
  position: fixed;
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  background: white;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.08);
  padding: 3px 3%;
}

.header-menu {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.avatar-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-caret-down {
  color: $dark-blue;
  margin-left: 12px
}

.fa-bell {
  color: $dark-blue;
  margin-left: 12px
}

.navbar-lewagon {
justify-content: space-between;
background: white;
}
.navbar-lewagon .navbar-collapse {
flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
width: 40px;
}
.avatar {
  width: 40px;
  border-radius: 50%;
}
.collapse {
    display: block !important;
}


// SEARCH BAR
.searchContainer {
  background-color: $background;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  width: 50%;
}



.searchIcon {
  flex: 0;
  padding: 0.5rem;
  margin-top: 0px;
  margin-left: 5px;
  color: #9E9E9E;
}

.searchBox {
  width: 100%;
  border: 0;
  flex: 1;
  background: transparent;
  font-weight: 300;
}


