.landing-header-lewagon {
  justify-content: space-between;
  background: $background-nav;
  height: 89px;
  color: white;
}

.landing-header-lewagon .landing-header-collapse {
  flex-grow: 0;
}

.landing-header-lewagon .landing-header-brand img {
  width: 40px;
}

.landing-header-menu {
  width: 400px;
  margin-right: 3%;
}

.logo-placer {
  width: 80%;
  padding-left: 15px;
}

.logo-landing {
  display: flex;
  align-items: center;
  margin: 4px 0px;
  width: 20%;
}
