
#main-wrapper {
  width:82%;
  float: right;
}

.content {
  margin-top: 100px;
  display:flex;
  flex-flow: row wrap;
  padding: 48px 38px;
}

.wrapper-profile {
  display: flex;
  width: 100%
}

.wrapper-index {
  width: 100%;
  padding: 48px;
  background: white;
  margin-top: -60px;
}

.form-wrapper {
  width: 40%;
  margin-top: 50px;
}

.signup-wrapper {
  width: 60%;
  margin-top: 50px;
}
.id-user {
  border-right: 1px solid $light-grey;
  width: 40%;
}

.user-info {
  margin: 1%;
  width: auto;
}


.stat-label {
  border-right: 1px solid $light-grey;
  min-width: 170px;
    align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-number {
  color: $dark-blue;
  font-size: 40px;
}

.stat-label p {
  font-weight: bold;
  display: flex;
}

.contact-cta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-cta i {
  color: $dark-blue;
}

.expertises-profile {
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
}

.tags-search {
  width: 40%;
}

.list-tags-search {
  width: 60%;
  display: flex;
  display: wrap;
  height: 230px;
  max-height: 230px;
  overflow: scroll;
  padding-left: 20px;
  border-left: 1px solid;
  margin-left: 74px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
}

.skills {
  max-height: 400px;
  display: flex;
}
