

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
}

h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

// Rubrique
h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

// Label
h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// content
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  margin: 0px;
}


// bold content
.bold-p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
}

// light content
.light-p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
}

// description
.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

// light description
.light-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
 }
