
.text-center {
position: relative;
}

.search-button {
 left: 231.74%;
 right: -222.16%;
 top: 0%;
 bottom: -25%;
 background: #FFFFFF;
 border: 1px solid #E8ECED;
 box-sizing: border-box;
 box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.19);
 border-radius: 25px;

 }
 .search-form {
 background: #F4F7FD;
 border: 1px solid #E8ECED;
 border-radius: 30px;
 }

    icon
   #icon {
 position: relative;
 left: -80%;
 top: 37.5%;
 bottom: 12.5%;
 color: #9E9E9E;
   }
