#title-collab {
  top: 92px;
  position: sticky;
  width:100%;
  background-color:white;
  padding-top: 16px;
  padding-bottom:16px;
  padding-left: 8px;
  height: 100px;
}

#collaborators{
  width: 100%;
}

#collaborators thead{
  top: 192px;
  background-color: white;
  text-align: center;
  position: sticky;
  height: 4em;
  // justify-content: center;
}


#collaborators tbody {
  // height:10%; /* 5 times the equivalent of a text "size". */
  overflow-y:scroll;
  text-align: center;
  top:280px;

}

  #collaborators thead tr th:nth-child(1) { /* column 1 ! */
    width:5em;
  }
  #collaborators thead tr th:nth-child(2) { /*  Name */
    width:20em;
  }
 #collaborators thead tr th:nth-child(3) { /*  Collaboration */
    width:10em;
  }
  #collaborators thead tr th:nth-child(4) { /*  Response */
    width:15em;
  }
 #collaborators thead tr th:nth-child(5) { /*  Project */
    width:10em;
  }
 #collaborators thead tr th:nth-child(6) { /*  Project lead */
    width:10em;
  }
  #collaborators thead tr th:nth-child(7) { /*  Last connexion */
    width:10em;
  }



  #collaborators tbody tr:first-child td:nth-child(1) { /* column 1 ! */
    width:5em;
  }
  #collaborators tbody tr:first-child td:nth-child(2) { /*  */
    width:20em;
  }
  #collaborators tbody tr:first-child td:nth-child(3) {
    width:10em;
  }
  #collaborators tbody tr:first-child td:nth-child(4) { /*  */
    width:15em;
  }
  #collaborators tbody tr:first-child td:nth-child(5) {
    width:10em;
  }
  #collaborators tbody tr:first-child td:nth-child(6) { /*  */
    width:10em;
  }
  #collaborators tbody tr:first-child td:nth-child(7) { /*  */
    width:10em;
  }

  #collaborators tbody td { /* column 2 */
    font-family: "Roboto", "Open Sans", "Helvetica", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:  #525252;
    text-align: center;

  }

  .collab-line {
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 36px;
      &:hover {
      background-color: $background;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    }
  }



#collaborators .collab-card{
  background: #FFFFFF;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.06);
  margin:8px;
  text-align: left;
}



.btn-rounded-s {
  margin: 10px;
  width: 32px;
  height: 32px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: $green-blue;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  &:hover {
    background: $dark-blue;
    color: white;
  }
}


.graph-cont {
  width: 100%; /* Full width */
  background-color: #ddd;
  border-radius: 25px;
}
.bar{
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white;
  border-radius: 25px;
}

.bar1 {
  background-color: #4CAF50;
  border-radius: 25px;
}


.experience {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 21px;
letter-spacing: 0.1px;
  // font-size-adjust: 1
}
